body {
	font-family: Monospace;
	background-color: #fff;
	color: #444;
	text-align: justify;
	height: 100vh;
	padding: 1em;
  }
  
  header {
	/* border: 1px solid red; */
	display: flex;
	align-items: center;
	justify-content: center;
  }

  section {
	display: flex;
	flex-direction: column; /* Cambia la dirección a columna */
	align-items: center; /* Centra el contenido horizontalmente */
	justify-content: center; /* Centra el contenido verticalmente */
	margin-bottom: 20px; /* Espaciado entre secciones si es necesario */
	width: 100%;
	border: 1px solid red;
  }

  article {
	width: 90%;
	margin: 0 calc(25%);  /* Margen de 25% menos un ajuste de pixel */
	border: 1px solid blue;
  }

  canvas {
	width: 100%;
	height: auto;
	margin-bottom: 10px; /* Espacio entre el canvas y el párrafo */
	box-shadow: 5px 5px 18px 4px rgba(0,0,0,0.25);
	border: 5px solid green;
  }
  